<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
        integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>ImageShow</h1>
    <img src="" id="myimage" alt="" srcset="" width="50%">
    <button onclick="getimage()">Get Image</button>
    
</body>
<script crossorigin="anonymous">
        var ip="";
        function getimage() {
            $.getJSON("https://lit-ocean-55039.herokuapp.com/https://api.ipify.org?format=json",function(data) {
                ip = data.ip
                
                axios.post("http://localhost:8080/get_image_ip"
                    , JSON.stringify(
                    {
                        "ipaddress": ip,
                       
                    }
                )
                    ).then((res1) => {
                    console.log(res1)
                    document.getElementById("myimage").src=res1.data.image
                    
                })
            })

          
        }
    </script>
</html>